

/*Foto CV (se supone)*/
#foto_CV {
  clip-path: circle(50%);
  max-width:100%;
  width:auto;
  height:auto;
}

/*Cabecera*/
#container1{
  max-width: 860px;
	width: 80%;
	margin: 0 auto;
}

header {
background-color: #f36f6faf;
color: #f8f5f5;
padding: 20px;
}

/*Alinear foto a la izquierda*/
header hgroup {
  float: right;
  text-align: center;
}

/*Logos redes sociales*/
#social {
  width: 40px;
  height: 40px;
  margin: 10px 38px 25px 38px;
}

body {
  font-family: sans-serif;
  margin: 2rem;
  background-color: #f9aaaa ;
  color: #333; 
  background-image: url("https://i.pinimg.com/736x/b8/05/a7/b805a7084e0d6deec6f06d018b5d9ba6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


h1 {
  color: #fdfcfc;
  font-size: extra-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  ;
}

h2 {
  font-family: arial;
  color:#500404;
}

p {
  font-family: arial;
  font-size: large;
  color:#f5f4f4;
}

p1 {
  font-family: arial;
  font-size: medium;
  color:#af0606;
}

ul {
  font-family: 'Courier New', Courier, monospace;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 20px;
}
